html {
    box-sizing: $box-sizing;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}