.footer {
    height: 6vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-primary;
    font-size: $font-size-xxs;
    color: $color-white;

    @include screen(mobile) {
        font-size: $font-size-xs;
    }

    @include screen(tablet) {
        font-size: $font-size-s;
    }

    @include screen(desktop) {
        font-size: $font-size-m;
    }

    @include screen(big-desktop) {
        font-size: $font-size-s;
    }

    @include screen(large) {
        font-size: $font-size-m;
    }

    &__wrapper {
        display: flex;
    }

    &__text {
        margin-right: 5px;
        font-family: $secondary-font-family;
        text-transform: uppercase;
    }
}