.header {
    height: 100vh;
    width: 100%;
    padding: 5vh #{$sides-padding};
    background-image: url(/img/header-bg.jpg);
    background-size: cover;
    background-position: center;
    color: $color-white;
    overflow: hidden;

    &--open {
        display: block;
    }

    &__title {
        padding-top: 8vh;
        font-size: $font-size-m;
        text-align: center;
        font-family: $secondary-font-family;
        text-transform: uppercase;

        @include screen(mobile) {
            font-size: $font-size-l;
        }

        @include screen(tablet) {
            font-size: $font-size-xl;
        }

        @include screen(big-desktop) {
            padding-top: 5vh;
            font-size: $font-size-l;
        }

        @include screen(large) {
            font-size: $font-size-xl;
        }
    }

    &__text {
        margin-top: 15px;
        font-size: $font-size-xxs;
        font-family: $secondary-font-family;
        text-align: center;

        @include screen(mobile) {
            margin-top: 20px;
            font-size: $font-size-xs;

            @include screen('(max-height: 641px)') {
                font-size: $font-size-xxs;
            }
        }

        @include screen(tablet) {
            font-size: $font-size-s;
        }

        @include screen(desktop) {
            font-size: $font-size-m;
        }

        @include screen(big-desktop) {
            margin-top: 10px;
            font-size: $font-size-s;
        }

        @include screen(large) {
            font-size: $font-size-m;
        }
    }

    &__btn {
        position: relative;
        left: 50%;
        width: 30%;
        height: auto;
        padding: 5px 0;
        margin-top: 15px;
        background-color: $color-white;
        color: $color-primary;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);

        @include screen(tablet) {
            width: 20%;
            margin-top: 30px;
        }

        @include screen(big-desktop) {
            width: 10%;
            margin-top: 10px;
        }

        @include screen(large) {
            margin-top: 30px;
        }
    }
}