.menu {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 8vh 0;
    background-color: $color-white;
    display: none;

    &--open {
        display: flex;
    }

    &__heading {
        margin-top: 3%;
        margin-bottom: 8%;
        font-size: $font-size-s;
        font-family: $secondary-font-family;
        color: $color-primary;
        background-color: $color-white;

        @include screen(tablet) {
            font-size: $font-size-l;
        }

        @include screen(desktop) {
            font-size: $font-size-xl;
        }

        @include screen(big-desktop) {
            margin-bottom: 4%;
            font-size: $font-size-l;
        }

        @include screen(large) {
            font-size: $font-size-xl;
        }
    }

    &__container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;

        @include screen(tablet) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }

        @include screen(big-desktop) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__item {
        height: 80vh;
        width: 90%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 20%;
        font-size: $font-size-xxs;
        background-color: $color-white;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.01), 0 4px 4px rgba(0, 0, 0, 0.02), 0 8px 8px rgba(0, 0, 0, 0.03), 0 18px 18px rgba(0, 0, 0, 0.04), 0 28px 28px rgba(0, 0, 0, 0.05), 0 38px 38px rgba(0, 0, 0, 0.06);

        @include screen(mobile) {
            height: 75vh;
        }

        @include screen(tablet) {
            height: 70vh;
            font-size: $font-size-xs;
        }

        @include screen(desktop) {
            height: 50vh;
        }

        @include screen(big-desktop) {
            height: 70vh;
            width: 70%;
            font-size: $font-size-xxs;
        }

        @include screen(large) {
            width: 75%;
            font-size: $font-size-xs;
        }

        &::after,
        &::before {
            position: absolute;
            content: '';
            width: 25px;
            height: 25px;

            @include screen(tablet) {
                width: 35px;
                height: 35px;
            }
        }

        &::before {
            top: 0;
            left: -10px;
            border-left: 2px solid $color-primary;
            border-top: 2px solid $color-primary;
        }

        &::after {
            bottom: -2%;
            right: -10px;
            border-right: 2px solid $color-primary;
            border-bottom: 2px solid $color-primary;
        }
    }

    &__photo {
        width: 100%;
        height: 100%;

        &-box {
            height: 40%;
            width: 100%;
        }
    }

    &__name {
        font-size: $font-size-xs;
        font-family: $secondary-font-family;
        color: $color-primary;

        @include screen(mobile) {
            font-size: $font-size-s;
        }

        @include screen(tablet) {
            font-size: $font-size-m;
        }

        @include screen(big-desktop) {
            font-size: $font-size-s;
        }

        @include screen(large) {
            font-size: $font-size-m;
        }
    }

    &__ingredients {
        padding: 0 10px;
        line-height: 1.3;
    }

    &__quantity {
        width: 30px;
        margin: 0 5px;
        border: 2px solid $color-primary;
        text-align: center;
        vertical-align: middle;
        font-size: $font-size-xxs;

        @include screen(tablet) {
            width: 40px;
            font-size: $font-size-xs;
        }

        @include screen(large) {
            font-size: $font-size-s;
        }

        &-box {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-btn {
            font-size: $font-size-xs;
            color: $color-primary;

            @include screen(tablet) {
                font-size: $font-size-s;
            }

            @include screen(large) {
                font-size: $font-size-m;
            }
        }
    }

    &__price {
        border-bottom: 2px solid $color-primary;
        font-size: $font-size-xs;
        font-family: $secondary-font-family;

        @include screen(mobile) {
            font-size: $font-size-s;
        }

        @include screen(desktop) {
            font-size: $font-size-m;
        }

        @include screen(big-desktop) {
            font-size: $font-size-s;
        }

        @include screen(large) {
            font-size: $font-size-m;
        }
    }

    &__btn {
        height: auto;
        padding: 10px 0;
           border-radius: 20px;
        font-size: $font-size-xxs;
        color: $color-white;
        background-color: $color-primary;

        @include screen(tablet) {
            width: 60%;
            font-size: $font-size-xs;
        }

        @include screen(big-desktop) {
            font-size: $font-size-xxs;
        }

        @include screen(large) {
            font-size: $font-size-xs;
        }
    }
}