.nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    width: 100%;
    padding: 0 #{$sides-padding};
    background-color: rgba($color: #000000, $alpha: .6);
    font-size: $font-size-s;
    color: $color-white;
    z-index: 1000;

    &__logo {
        display: flex;
        align-items: center;
        color: $color-white;
        font-size: $font-size-xs;

        @include screen(mobile) {
            font-size: $font-size-s;
        }

        @include screen(tablet) {
            font-size: $font-size-m;
        }

        @include screen(desktop) {
            font-size: $font-size-l;
        }

        @include screen(big-desktop) {
            font-size: $font-size-m;
        }

        @include screen(large) {
            font-size: $font-size-l;
        }

        &-text {
            font-family: $secondary-font-family;
            font-size: $font-size-s;
            padding-right: 10px;
            text-transform: uppercase;
            display: none;

            @include screen(big-desktop) {
                display: block;
            }
        }
    }

    &__shopping-cart {
        color: $color-white;
        font-size: $font-size-xxs;

        @include screen(mobile) {
            font-size: $font-size-xs;
        }

        @include screen(tablet) {
            font-size: $font-size-s;
        }

        @include screen(desktop) {
            font-size: $font-size-m;
        }

        @include screen(big-desktop) {
            font-size: $font-size-s;
        }

        @include screen(large) {
            font-size: $font-size-m;
        }
    }
}